.aqiScaleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto; 
  padding: 0 1rem;
}

@media only screen and (max-width: 550px) {
  .aqiScaleContainer {
    flex-direction: column;
  }
}

.aqiScaleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.blueBorder {
  border: 6px solid blue;
}